<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" >
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n</Property>
        <Property name="APP_LOG_ROOT">tests/demo/applications/jersey-jwt-master/log</Property>
        <Property name="defaultPattern">[%d] [%-5p] [%t] %C{5} - %m%n</Property>
        <Property name="defaultRollOverMax">10</Property>
    </Properties>

    <appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout  disableAnsi="false" pattern="%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} %-6notEmpty{[%marker]} -  %highlight{${LOG_LEVEL_PATTERN:-%5p}}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green,  bold,DEBUG=green bold, TRACE=blue}   [%15.15t] %style{%logger}{cyan} : %msg%n"/>
        </Console>

        <File name="All" append="false" fileName="${APP_LOG_ROOT}/all.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <!--TimeBasedTriggeringPolicy/-->
            </Policies>
        </File>

        <File name="Jdry" append="false" fileName="${APP_LOG_ROOT}/jdry.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <!--TimeBasedTriggeringPolicy/-->
            </Policies>
        </File>

        <RollingFile name="Trace"
                     fileName="${APP_LOG_ROOT}/trace.log"
                     filePattern="${APP_LOG_ROOT}/trace.%d{yyyy-MM-dd}_%i.gz"
                     immediateFlush="true">

            <MarkerFilter marker="TRACER" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <!--TimeBasedTriggeringPolicy/-->
            </Policies>

            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}  %-5level %-10notEmpty{[%marker]} %c{1.} - %msg%xEx %n"/>
            <DefaultRolloverStrategy max="5" />

        </RollingFile>



    </appenders>


    <loggers>
        <Logger name="org.softauto" level="DEBUG" >
            <appender-ref ref="Jdry"/>
        </Logger>

        <Logger name="com.cassiomolin.example" level="all" >
            <appender-ref ref="Trace"/>
        </Logger>

        <root level="all">
            <appender-ref ref="All"/>
            <AppenderRef ref="Console"/>
        </root>
    </loggers>

</Configuration>