<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "jwtService" verbose="10">
<suite-files>
    <suite-file path="asyncLoginUsingJersey.xml"/>
    <suite-file path="loginUsingJdryJaxrsClientWithSetCallOptions.xml"/>
    <suite-file path="loginUsingJdryJaxrsClientProxyAndAsyncRestCallWithListenerBefore.xml"/>
    <suite-file path="loginUsingJdryJaxrsClientProxyAndAsyncRestCallWithListenerAfter.xml"/>
    <suite-file path="asyncLoginUsingJdryJaxrsClientWithEmbeddedJersey.xml"/>
    <suite-file path="syncLoginAndGreetingUsingJdryJaxrsClientWithEmbeddedJersey.xml"/>
    <suite-file path="syncGreetingUsingJdryJaxrsClientWithEmbeddedJersey.xml"/>
    <suite-file path="syncLoginAndGreetingUsingJdryJaxrsClientWithProxy.xml"/>
    <suite-file path="findAllUsersUsingJdryJaxrs.xml"/>
    <suite-file path="publicGreetingUsingJdryRpc.xml"/>
    <suite-file path="publicRpcCall.xml"/>
    <suite-file path="privateRpcCall.xml"/>
    <suite-file path="publicStaticRpcCall.xml"/>

</suite-files>
</suite>
