#if ($analyze.has("namespace"))
package $analyze.get("namespace").asText();
#end

public interface ${analyze.get("name").asText()}Service {
    public static final org.softauto.core.Analyze analyze = org.softauto.core.Analyze.parse("$this.javaEscape($analyze)");
#foreach ($step in $analyze.get("steps"))
#set ($name = $step.get("fullname").asText())
org.softauto.tester.Step $name(##
#foreach ($type in $step.get("parametersTypes"))##
#*      *#$type.asText() $step.get("argumentsNames")[$foreach.index].asText() #if ($foreach.hasNext), #end ##
#end
) throws Exception;

#end
public interface Callback extends ${analyze.get("name").asText()}Service {
    public static final org.softauto.core.Analyze analyze = tests.infrastructure.${analyze.get("name").asText()}Service.analyze;
#foreach ($step in $analyze.get("steps"))
#set ($name = $step.get("fullname").asText())
#set ($response = $step.get("returnType").asText())
org.softauto.tester.Step  $name(##
#foreach ($type in $step.get("parametersTypes"))
#*      *#$type.asText() $step.get("argumentsNames")[$foreach.index].asText() #if ($foreach.hasNext), #end ##
#end
#if($this.isPrimitive($response))
#if($step.get("parametersTypes"))
  ,org.apache.avro.ipc.CallFuture<$this.primitiveToObject($response)> callback) throws java.io.IOException;
#else
  org.apache.avro.ipc.CallFuture<$this.primitiveToObject($response)> callback) throws java.io.IOException;
#end
#else
#if($step.get("parametersTypes"))
 ,org.apache.avro.ipc.CallFuture<$response> callback) throws java.io.IOException;
#else
  org.apache.avro.ipc.CallFuture<$response> callback) throws java.io.IOException;
#end
#end

#end

    }
}




