<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug" pacages="org.softauto.core.ForceTriggerPolicy">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n</Property>
        <Property name="APP_LOG_ROOT">log</Property>
        <Property name="defaultPattern">[%d] [%-5p] [%t] %C{5} - %m%n</Property>
        <Property name="defaultRollOverMax">10</Property>
    </Properties>

    <appenders>

        <File name="Jdry" append="false" fileName="${APP_LOG_ROOT}/jdry.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout  disableAnsi="false" pattern="%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}} %-6notEmpty{[%marker]} -  %highlight{${LOG_LEVEL_PATTERN:-%5p}}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green,  bold,DEBUG=green bold, TRACE=blue}   [%15.15t] %style{%logger}{cyan} : %msg%n"/>
        </Console>

        <RollingFile name="Tester"
                     fileName="${APP_LOG_ROOT}/test.log"
                     filePattern="${APP_LOG_ROOT}/${sys:logFilename}.%d{yyyy-MM-dd}_%i.gz"
                     immediateFlush="true">

            <MarkerFilter marker="TESTER" onMatch="ACCEPT" onMismatch="DENY"/>

            <Policies>
                <ForceTriggerPolicy />
            </Policies>

            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}  %-5level %-10notEmpty{[%marker]} %c{1.} - %msg%xEx %n"/>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>


    </appenders>


    <loggers>

        <Logger name="org.softauto" level="DEBUG" >
            <appender-ref ref="Jdry"/>
        </Logger>

        <Logger name="tests.infrastructure" level="all" >
            <appender-ref ref="Tester"/>
        </Logger>

        <root level="all">
           <appender-ref ref="Console"/>
           <appender-ref ref="Tester"/>
        </root>
    </loggers>

</Configuration>